@{
    ViewData["Title"] = "Home Page";
}


@*<form action ="/search" method ="get">
    <input type ="text" name="query" value="" />
    <button type="submit">Найти</button>
</form> 

<div class="text-">
    <h1 class="display-4">Учебный проект для поиска книг на C#</h1>
    <p>Но лучше для поиска книг перейти на <a href="https://pornhub.com/GaysPorn">flibusta.com</a>.</p>
</div>*@
